h1 {
    font-family: sans-serif;
}
p {
    font-family: sans-serif;
}
body {
    color: white;
}
body  {
    background-image: url(http://cdn.wonderfulengineering.com/wp-content/uploads/2014/09/new-wallpaper-16.jpg)
        
}
nav {
    color: white;
}